@import "tailwindcss";

/* shared font */
.hind-madurai {
  font-family: "Hind Madurai", sans-serif;
  
  font-style: normal;
}


.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* icon */
.icon{
    font-size: 23px;
    opacity: 90%;
    color: #5C5C5C;
}

.icon-1{
    color: #5C5C5C;
}

/* shared color */
.background{
    background-color: #00a63e;
}

/* nav bar = class"nav-parent-div" */
.nav-parent-div{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 24px 0px;

}

/* left-side = class"left-side" */

.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 195px;
    gap: 12px;
}

/* right side = class"" */
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

/* right-third */
.right-third{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 52px;
    border-radius: 50px;
    background-color: #41ff6b1a;
    gap: 11px;
}

/* right-second */
.right-second{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 52px;
    border-radius: 50px;
    background-color: #41ff6b1a;
    gap: 10px;
}

/* right-first */
.right-first{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 127px;
    height: 52px;
    border-radius: 50px;
    gap: 6px;
    
}


/* hero-section */
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 239px;


}

/* main-Section */
.main-Section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}